body {
    background-image: url(../img/skin-wood.jpg);
}
.alert-mask {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.alert-note {
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: absolute;
    height:12em;
    width:12em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.alert-note textarea {
    outline: none;
    background: #ffc;
    resize: none;
    border: 0;
    width: 100%;
    height: 100%;
}

.alert-note .word-count-container {
    position: absolute;
    top: 12em;
    left: 5em;
    color: rgba(0,0,0,0.2);
}

.alert-hide {
    display: none;
}

.vertical-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#id-button-alert {
    color: white;
}

.note-add {
    position: absolute;
    top: 76%;
    font-size: 4em;
    color: #19c319;
    cursor: pointer;
}

.note-add:hover {
    transition: font-size 0.2s linear;
    font-size: 5em;
}

.todo-cell {
    color:#000;
    background:#25c6fc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    float: left;
    margin:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    position: relative;
}

.todo-cell .todo-time {
    position: absolute;
    top: 158px;
    left: 40px;
}

.todo-cell .todo-edit {
    float: right;
    cursor: pointer;
}
.todo-cell .todo-delete {
    cursor: pointer;
}

.todo-cell .todo-content {
    margin-top: 0.5em;
    position: absolute;
}

#id-div-container .todo-cell:nth-child(even) {
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background:rgb(237,227,135);
}

#id-div-container .todo-cell:nth-child(3n) {
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:rgb(222,129,0);
}

#id-div-container .todo-cell:nth-child(5n) {
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background:rgb(204,252,98);
}

#id-div-container .todo-cell:nth-child(7n) {
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background:rgb(116,66,29);
}

#id-div-container .todo-cell:nth-child(9n) {
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background:rgb(237,237,237);
}

#id-div-container .todo-cell:hover,#id-div-container .todo-cell:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position:relative;
  z-index:1;
}
